nameOverride: ""
fullnameOverride: ""
imagePullSecrets: []

global:
  env:
    SELECTED_NETWORKS: ""
    ENVIRONMENT: "mainnet"
  #dbSecretName: centrifuge-api-dbConfig-secret
  apiSecretName: centrifuge-api-v3-apiConfig-secret
  # ---
  # apiVersion: v1
  # kind: Secret
  # metadata:
  #   name: centrifuge-api-v3-config-secret
  # type: Opaque
  # stringData:
  #   ONFINALITY_API_KEY: {{ .Files.Get ".env" | fromEnv "ONFINALITY_API_KEY" }}
  #   ALCHEMY_API_KEY: {{ .Files.Get ".env" | fromEnv "ALCHEMY_API_KEY" }}
  # ---

indexer:
  enabled: true
  nodeId: centrifuge
  replicaCount: 1
  image:
    repository: ghcr.io/centrifuge/api-v3
    pullPolicy: IfNotPresent
    tag: "latest"
  imagePullSecrets: []
  nameOverride: ""
  fullnameOverride: ""
  command:
    - --port
    - "8000"
  podAnnotations: {}
  podLabels: {}
  podSecurityContext: {}
  securityContext: {}
  service:
    type: ClusterIP
    port: 8000
  resources:
    requests:
      cpu: 100m
      memory: 1Gi
    limits:
      cpu: "1"
      memory: 1Gi
  livenessProbe:
    initialDelaySeconds: 30
    httpGet:
      path: /health
      port: 8000
    periodSeconds: 10
    timeoutSeconds: 5
    failureThreshold: 3
  readinessProbe:
    initialDelaySeconds: 30
    httpGet:
      path: /ready
      port: 8000
    periodSeconds: 10
    timeoutSeconds: 5
    failureThreshold: 360
  volumes: []
  volumeMounts: []
  nodeSelector: {}
  tolerations: []
  affinity: {}
  env: []
  envFrom: []
    
query:
  enabled: true
  replicaCount: 1
  image:
    repository: ghcr.io/centrifuge/api-v3
    pullPolicy: IfNotPresent
    tag: "latest"
  command:
    - serve
    - --port
    - "8000"
  imagePullSecrets: []
  nameOverride: ""
  fullnameOverride: ""
  podAnnotations: {}
  podLabels: {}
  podSecurityContext: {}
  securityContext: {}
  service:
    type: ClusterIP
    port: 8000
  ingress:
    enabled: false
    className: "traefik"
    annotations:
      kubernetes.io/tls-acme: "true"
      traefik.ingress.kubernetes.io/router.entrypoints: "websecure"
      nginx.ingress.kubernetes.io/ssl-redirect: "true"
    hosts: []
    tls: []
  resources:
    requests:
      cpu: 100m
      memory: 512Mi
    limits:
      cpu: 500m
      memory: 512Mi
  livenessProbe:
    initialDelaySeconds: 30
    httpGet:
      path: /health
      port: 8000
  readinessProbe:
    initialDelaySeconds: 30
    httpGet:
      path: /ready
      port: 8000
  env: {}
  envFrom: []
  volumes: []
  volumeMounts: []
  nodeSelector: {}
  tolerations: []
  affinity: {}

cacheJob:
  enabled: false
  annotations: {}
  backoffLimit: 0
  ttlSecondsAfterFinished: 300
  serviceAccountName: ""
  imagePullSecrets: []
  resources:
    requests:
      cpu: 100m
      memory: 512Mi
    limits:
      cpu: 500m
      memory: 512Mi
  nodeSelector: {}
  tolerations: []
  affinity: {}
  env: []
  envFrom: []

postgres:
  enabled: false
  cluster:
    instances: 1
    storage:
      size: 16Gi
      storageClass: "ceph-perf3"
    resources:
      requests:
        cpu: 500m
        memory: 2Gi
      limits:
        cpu: "1"
        memory: 2Gi
    affinity:
      topologyKey: topology.cinder.csi.openstack.org/zone